{% extends "store/main.html" %}
{% load static %}
{% load i18n %}

{% block body_class %}{{ block.super }} pinax-messages-thread{% endblock %}

{% load bootstrap %}

{% block content %}
<link rel="stylesheet" href="/env/Lib/site-packagespinax/templates/templates/pinax_messages.css">
<div class="pinax-messages-thread-detail-container">
    <h2 class="with-actions">
        {{ thread.subject }}
        <a role="button" class="btn btn-primary"href="{% url "pinax_messages:thread_delete" thread.pk %}" style="float: right;">Delete Thread</a>
    </h2>

    <section class="thread-messages">
        {% for message in thread.messages.all %}
            <div class="thread-message">
                <div class="message-byline">
                    <div class="message-from">{{ message.sender.username }}</div>
                    <div class="message-sent">{{ message.sent_at }}</div>
                </div>
                <div class="message-content">{{ message.content|urlize|linebreaks }}</div>
            </div>
        {% endfor %}
    </section>

    <form class="comment-form" action="{% url "pinax_messages:thread_detail" thread.pk %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-actions">
            <a href="{% url "pinax_messages:inbox" %}" class="cancel">Cancel</a>
            <button class="btn btn-primary">Send</button>
        </div>
    </form>
</div>
{% endblock content%}
