{% extends 'store/main.html' %}
{% load static %}
{% block content %}

{% if not product.is_active %}
<div class="alert alert-danger" role="alert">
    Note: This item has been unlisted by the seller and cannot be purchased
</div>
{% endif %}

<style>
    #messages{
        background-color: grey;
        color: #fff;
        padding: 10px;
        margin-top: 10px;
    }
</style>
    <div class="row">
        <div style="max-width:40%" class="col-lg-6">
            <div class="box-element" id="img-box">
                <img class="img-fluid" src="{{product.imageURL}}"/>
            </div>
        </div>

        <div style="min-width:60%;"class="col-lg-6">
                <div class="box-element" id="info-box">
                    <h3 id="product-name"> {{product.name}} </h3>
                            <h5 id="seller-name"> 
                                {% if product.seller.trusted %}
                                    <span class="badge bg-dark text-light">Trusted</span>
                                {% endif %}
                                by {{product.seller.nickname}}
                            </h5>
                    <div class="row">
                        <div style="min-width: 300px;" class="col-lg-6">
                            <p style="color:#FA3207;"><strong>Estimated delivery: {{product.delivery_period_days_hours_str}}</strong></p>
                            <strong>End time: </strong>
                            <div id='event-box'>{{product.end_date|date:"M d, Y H:m:s"}}</div>
                            <div><strong>Auction time left:</strong></div>
                            <div id="countdown-box">
                                <div class="spinner-border" role="status"></div>
                            </div>
                            <div style="padding: 10px; max-height:400px" class="card" id="desc-box">
                                <h5>Description</h5>
                                <p style="font-size:14px; overflow:none; white-space: pre-line;" id="desc-text">
                                    {{product.description}}
                                </p>
                            </div>
                        </div>
                        <script src="{% static 'javascript/timer.js' %}"></script>
                        <div class="col-lg-6">
                            <div style="padding: 10px; margin-bottom:10px;" class="card" id="buy-box">
                                <form>
                                    <div class="row">
                                        <div class="col" style="max-width:30%;">
                                            {% if product.selling_type == "sale" %}
                                                <p id="price-text"> ${{product.price|floatformat:2}} <strong>AUD</strong></p>
                                                <p>per unit</p>
                                            {% else %}
                                                <p id="starting-bid-text"><strong>Current bid</strong>  ${{product.starting_bid|floatformat:2}} <strong>AUD</strong></p>
                                                <p>per unit</p>
                                            {% endif %}
                                        </div>
                                        <div class="col" style="max-width:30%;">
                                            <input type="number" id="quantity" min=1 value=1 style="max-width:100%;"/>
                                        </div>
                                        <div class="col">
                                            {% if product.selling_type == "sale" %}
                                                <button data-product="{{product.id}}" 
                                                class="btn btn-outline-primary" id="add-to-cart" style="font-size: 13px;">
                                                    Add to Cart
                                                </button>
                                            {% else %}
                                                <input id="starting_bid" placeholder="Bid">
                                                <button href="#" id="place-bid" 
                                                class="btn btn-primary" data-product="{{product.id}}">
                                                Place Bid
                                                </button>
                                                {% for message in messages %}
                                                <p id="messages">{{message}}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div style="padding: 10px; max-height:200px" class="card" id="tag-box">
                                <h6>Tags</h6>
                                <ul class="list-group list-group-flush" style="overflow:scroll;">

                                    {% for tag in tags %}
                                    <li class="list-group-item">{{tag}}</li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
        </div>
    </div>

    <!-- Similar products scroll -->
    <div class="box-element horizontal-scroll-box">
        <h5>Similar listings you may like</h5>
        <div class="row horizontal-scroll-container">

            {% for product in similar_items %}
                <div class="col-lg-4 horizontal-scroll-item">
                    <a href = "{% url 'product_page' product.slug_str %}">
                        <img class="thumbnail" style="object-fit:cover; " src="{{product.imageURL}}">
                    </a>
                    <div class="box-element product">
                        <h6><strong>{{product.name}}</strong></h6>
                        <hr>

                        <button data-product="{{product.id}}" data-action="add" 
                        class="btn btn-outline-secondary add-btn update-cart"> Add to Cart </button>

                        <a class="btn btn-outline-success" href="{% url 'product_page' product.slug_str %}">View</a>
                        <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
                    </div>
                </div>
            {% empty %}
                <p style="margin-left: 15px;">No similar products were found</p>
            {% endfor %}
            
        </div>
    </div>

    <div class="box-element" style="margin-top: 15px; height:250px;">
        <h5>Leave a review</h5>
        <!--HTML and CSS only star rating. Source: Neil Pomerleau - https://codepen.io/neilpomerleau/pen/wzxzQr -->
        <form class="rating">
            <label>
              <input type="radio" name="stars" value="1" />
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="2" />
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="3" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>   
            </label>
            <label>
              <input type="radio" name="stars" value="4" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="5" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
          </form>
          <div>
              <form>
                <textarea id="review-box" name="review-box" style="width:100%; height:120px; resize:none; font-size:14px;" placeholder="Enter your review here..."></textarea>
                <button class="btn btn-outline-secondary" id="add-to-cart" style="font-size: 13px;">
                    Submit review
                </button>
            </form>
          </div>

    </div>
    <div class="box-element" style="margin-top: 15px; height:300px;">
        <h5>Reviews</h5>
        <ul class="list-group" style="overflow:scroll; max-height:85%">
            <li class="list-group-item">
                <h6>Reviewer name - review date</h6>
                <p>This is an example text review</p>
            </li>
            <li class="list-group-item">
                <h6>Reviewer name - review date</h6>
                <p>This is an example text review</p>
            </li>
            <li class="list-group-item">
                <h6>Reviewer name - review date</h6>
                <p>This is an example text review</p>
            </li>
            <li class="list-group-item">
                <h6>Reviewer name - review date</h6>
                <p>This is an example text review</p>
            </li>
            

        </ul>
    </div>

<script type="text/javascript">
	if (user == 'AnonymousUser'){
        document.getElementById('quantity').classList.add("hidden");
        document.getElementById('add-to-cart').classList.add("hidden");
        document.getElementById('cart-icon').classList.add("hidden");
		document.getElementById('cart-total').classList.add("hidden");
        document.getElementById('place-bid').classList.add("hidden");
	} else {
        var quantityInput = document.getElementById('quantity')
        var starting_bid = document.getElementById('starting_bid')
        var addBtn = document.getElementById('add-to-cart')
        var bidBtn = document.getElementById('place-bid')
        var productId = addBtn.dataset.product
        var productId_bid = bidBtn.dataset.product
        var highest_bidder = "{{request.user.customer}}"
        window.console.log(bidBtn)
        window.console.log(highest_bidder)
        
        quantityInput.addEventListener('submit', function(e){
            e.preventDefault()
            console.log('Set Quantity')
        })

        addBtn.addEventListener('click', function(){
            submitData()
        })

        bidBtn.addEventListener('click', function(){
            addBid()
        })

        function submitData(){
            var quantity = quantityInput.value
            if (quantity == 0) {
                quantity = 1
            }
            console.log('Set quantity:', quantity)

            var url = "/add_multiple/"
            fetch(url, {
                method:'POST',
                headers:{
                    'Content-Type':'applicaiton/json',
                    'X-CSRFToken':csrftoken,
                }, 
                body:JSON.stringify({'productId':productId,'quantity':quantity}),
                
            })
            .then((response) => response.json())
            .then((data) => {
                console.log('Data sent:', data);
                location.reload()
                })
        }

        function addBid(){
            var new_bid = starting_bid.value
            console.log('New Bid:', new_bid)

            var url = "/add_bid/"
            fetch(url, {
                method:'POST',
                headers:{
                    'Content-Type':'applicaiton/json',
                    'X-CSRFToken':csrftoken,
                }, 
                body:JSON.stringify({'productId':productId_bid,'new_bid':new_bid, 'highest_bidder':highest_bidder}),
                
            })
            .then((response) => response.json())
            .then((data) => {
                console.log('Data sent:', data);
                location.reload()
                })
        }
    }

</script>
<script src="{% static 'javascript/timer.js' %}"></script>

{% endblock content %}