{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <h3>Search Results for "{{query}}"</h3>

	<div class="row">
		<div class="dropdown">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="button" id="search-sort-dropdown" data-bs-toggle="dropdown">
				Sort By:
				</button>
				<div class="dropdown-menu">
				<a class="dropdown-item" id="btn-search-sort-rating-desc">Highest rated</a>
				<a class="dropdown-item" id="btn-search-sort-name-asc">Alphabetical(A-Z)</a>
				<a class="dropdown-item" id="btn-search-sort-price-asc">Price(Low to High)</a>
				<a class="dropdown-item" id="btn-search-sort-price-desc">Price(High to Low)</a>
				</div>
		</div>
		<button class="btn btn-link" data-toggle="collapse" data-target="#filter">Advanced Filter</button>
		<div id="filter" class="collapse">
			<form method="get">
				{{myFilter.form}}

			<button class="btn btn-primary" type="submit" name='cached_q' value='{{query}}'>Search</button>
			
			</form>
		</div>
	</div>
		
<style>
	ul{list-style-type: none; padding:0 !important}
</style>

    <ul id="search-list"class="row">
    	{%for product in product_list%}
				<li class="list-group-item search col-lg-4" style="list-style-type: none; " data-name="{{product.name}}" data-price="{{product.price}}" data-rating="{{product.avg_rating}}">
					<a href = "{% url 'product_page' product.slug_str %}">
						<img class="thumbnail" style="object-fit:cover;" src="{{product.imageURL}}">
					</a>
					<div class="box-element product">
						<h6><div class="product-name-div" ><strong>{{product.name}}</strong></h6>
						<div class="star-rating-div" data-rating="{{product.avg_rating}}" data-n-reviews="{{product.reviews.count}}"></div>
						<hr>

						<button data-product="{{product.id}}" data-action="add"
						class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
						<a class="btn btn-outline-success" href="{% url 'product_page' product.slug_str %}">View</a>
						<h4 style="display: inline-block; float: right"><p class="product-price-div"><strong>${{product.price|floatformat:2}}</strong></h4>

					</div>
				</li>
    	{% empty %}
    		<p5>Search not found</p5>
    	{% endfor %}
    </ul>

<script src="{% static 'javascript/jquery.js' %}"></script>
<script type="text/javascript">

	 function sortReviews(cmp) {
        $("#search-list .search").sort(cmp).appendTo("#search-list");
    }

    $("#btn-search-sort-name-asc").click(function() {
        sortReviews((a,b) => ($(a).data("name").localeCompare($(b).data("name"))));
        $("#search-sort-dropdown").html($(this).html());
    });
    $("#btn-search-sort-price-asc").click(function() {
        sortReviews((a,b) => ($(a).data("price") - $(b).data("price")));
        $("#search-sort-dropdown").html($(this).html());
    });
    $("#btn-search-sort-price-desc").click(function() {
        sortReviews((a,b) => ($(b).data("price") - $(a).data("price")));
        $("#search-sort-dropdown").html($(this).html());
    });
	$("#btn-search-sort-rating-desc").click(function() {
        sortReviews((a,b) => ($(b).data("rating") - $(a).data("rating")));
        $("#search-sort-dropdown").html($(this).html());
    });

// Draw star rating on each product card
const maxRating = 5;
	$(".star-rating-div").each(function() {
		console.log($(this));
		var rating = $(this).data("rating");
		var i;
		for (i = 0; i < Math.floor(rating); i++)
			$(this).append('<i class="bi-star-fill"></i>');
		if (rating - i >= 0.5) {
			$(this).append('<i class="bi-star-half"></i>');
			i++;
		}
		for (; i < maxRating; i++)
			$(this).append('<i class="bi-star"></i>');
		
		if ($(this).data("n-reviews") == 0)
			$(this).append(" No reviews yet");
		else if ($(this).data("n-reviews") == 1)
			$(this).append(" from 1 review");
		else
			$(this).append(" from " + $(this).data("n-reviews") + " reviews");
	});


</script>
{% endblock content %}
