{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div style="max-width:40%" class="col-lg-6">
            <div class="box-element" id="img-box">
                <img class="img-fluid" src="{{product.imageURL}}"/>
            </div>
        </div>

        <div style="min-width:60%;"class="col-lg-6">
                <div class="box-element" id="info-box">
                    <h3 id="product-name"> {{product.name}} </h3>
                            <h5 id="seller-name"> 
                                <span class="badge bg-dark text-light">Trusted</span>
                                by {{product.seller}} </h5>
                    <div class="row">
                        <div style="min-width: 300px;" class="col-lg-6">
                            <p style="color:#FA3207;"><strong>Estimated delivery: {{product.delivery_period_days_hours_str}}</strong></p>
                            <div style="padding: 10px; max-height:400px" class="card" id="desc-box">
                                <h5>Description</h5>
                                <p style="font-size:14px; overflow:none; white-space: pre-line;" id="desc-text">
                                    {{product.description}}
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div style="padding: 10px; margin-bottom:10px;" class="card" id="buy-box">
                                <form>
                                    <div class="row">
                                        <div class="col" style="max-width:30%;">
                                            <p id="price-text"> ${{product.price|floatformat:2}} <strong>AUD</strong></p>
                                            <p>per unit</p>
                                        </div>
                                        <div class="col" style="max-width:30%;">
                                            <input type="number" id="quantity" min=1 value=1 style="max-width:100%;"/>
                                        </div>
                                        <div class="col">
                                            <button data-product="{{product.id}}" 
                                            class="btn btn-outline-primary" id="add-to-cart" style="font-size: 13px;">
                                                Add to Cart
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div style="padding: 10px; max-height:200px" class="card" id="tag-box">
                                <h6>Tags</h6>
                                <ul class="list-group list-group-flush" style="overflow:scroll;">

                                    {% for tag in tags %}
                                    <li class="list-group-item">{{tag}}</li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

        </div>


    </div>
    <div class="box-element" style="margin-top: 15px; height:250px;">
        <h5>Leave a review</h5>
        <!--HTML and CSS only star rating. Source: Neil Pomerleau - https://codepen.io/neilpomerleau/pen/wzxzQr -->
        <form class="rating">
            <label>
              <input type="radio" name="stars" value="1" />
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="2" />
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="3" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>   
            </label>
            <label>
              <input type="radio" name="stars" value="4" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="5" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
          </form>
          <div>
              <form>
                <textarea id="review-box" name="review-box" style="width:100%; height:120px; resize:none; font-size:14px;" placeholder="Enter your review here..."></textarea>
                <button class="btn btn-outline-secondary" id="add-to-cart" style="font-size: 13px;">
                    Submit review
                </button>
            </form>
          </div>

    </div>
    <div class="box-element" style="margin-top: 15px; height:300px;">
        <h5>Reviews</h5>
        <ul class="list-group" style="overflow:scroll; max-height:85%">
            <li class="list-group-item">
                <h6>Reviewer name - review date</h6>
                <p>This is an example text review</p>
            </li>
            <li class="list-group-item">
                <h6>Reviewer name - review date</h6>
                <p>This is an example text review</p>
            </li>
            <li class="list-group-item">
                <h6>Reviewer name - review date</h6>
                <p>This is an example text review</p>
            </li>
            <li class="list-group-item">
                <h6>Reviewer name - review date</h6>
                <p>This is an example text review</p>
            </li>
            

        </ul>
    </div>

<script type="text/javascript">

    var quantityInput = document.getElementById('quantity')
    var addBtn = document.getElementById('add-to-cart')
    var productId = addBtn.dataset.product
    
    quantityInput.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Set Quantity')
    })

    addBtn.addEventListener('click', function(){
        submitData()
    })

    function submitData(){
        var quantity = quantityInput.value
        if (quantity == 0) {
            quantity = 1
        }
        console.log('Set quantity:', quantity)

        var url = "/add_multiple/"
        fetch(url, {
            method:'POST',
            headers:{
                'Content-Type':'applicaiton/json',
                'X-CSRFToken':csrftoken,
            }, 
            body:JSON.stringify({'productId':productId,'quantity':quantity}),
            
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Data sent:', data);
            location.reload()
            })
    }

</script>
{% endblock content %}