{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{%  include 'store/status.html' %}
    <h3>Purchase History</h3>

    <div class="container" >
        <ul  class="list-group list-group-flush" id="history-list" style="overflow:auto; height:100%;">

            {% for item in purchases %}
            <li class="list-group-item list-box-item">
                <div class="box-element">
                    <div class="row">
                        <div class="col"><img class="row-image img-fluid" style="height:100%; object-fit:contain;" src="{{item.image}}"/></div>
                        <div class="col">
                            <p id="Product-name" style="font-size:14px;"><b>{{item.name}} (x{{item.quantity}})</b></p>
                            <p id="seller-name" style="font-size:14px;">From seller {{item.seller}}</p>
                            <p id="delivery-time" style="font-size:14px;">Estimated date: {{item.estimated}}</p>
                            <p id="added-time" style="font-size:14px;">Added on {{item.date_added}}</p>
                            <p id="transaction" style="font-size:14px;">Transaction ID: {{item.transaction}}</p>
                            <p id="price" style="font-size:14px;"><b>${{item.price|floatformat:2}}</b></p>
                        </div>
                        <div class="col" style="display:flex; align-items:center;">
                            <button data-id={{item.id}} data-iid={{item.iid}}
                            class="btn btn-outline-warning cancel" id="cancel-button">Cancel order</button>
                            <button class="btn btn-outline-secondary" id="contact-button">Contact</button>
                            <a class="btn btn-outline-success" href="{% url 'product_page' item.product.slug_str %}">View</a>
                        </div>
                    </div>
                </div>
            </li>
            {% empty %}
            <p>No purchases found</p>
            {% endfor %}

        </ul>
    </div>

<script type="text/javascript">

    var cancelBtns = document.getElementsByClassName('cancel')
    
    for (i = 0; i < cancelBtns.length; i++) {
        cancelBtns[i].addEventListener('click', function(){
        var productId = this.dataset.id
        var itemId = this.dataset.iid
        restoreData(productId, itemId)
	    })
    }

    function restoreData(productId, itemId){
        console.log('product:', productId)
        console.log('itemId:', itemId)
        var url = "/restore/"
        fetch(url, {
            method:'POST',
            headers:{
                'Content-Type':'applicaiton/json',
                'X-CSRFToken':csrftoken,
            }, 

            body:JSON.stringify({'product':productId, "itemId":itemId}),
            
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Data sent:', data);
            location.reload()
            })
    }

</script>
{% endblock content %} 