{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{%  include 'store/status.html' %}
    <h3>Purchase History</h3>

    <div class="box-element list-box" >
        <ul class="list-group list-group-flush" id="history-list" style="overflow:scroll; height:100%;">

            {% for item in purchases %}
            <li class="list-group-item list-box-item">
                <div class="box-element">
                    <div class="row">
                        <div class="col">
                            <img class="row-image img-fluid" style="height:100%; object-fit:contain;" src="{{item.image}}"/></div>
                        <div class="col">
                            <p id="Product-name" style="font-size:14px;"><b>{{item.name}} (x{{item.quantity}})</b></p>
                            <p id="seller-name" style="font-size:14px;">From seller {{item.seller}}</p>
                            <p id="delivery-time" style="font-size:14px;">Purchased on {{item.date_added}}</p>
                            <p id="delivery-time" style="font-size:14px;"><b>${{item.price|floatformat:2}}</b></p>
                        </div>
                        <div class="col" style="display:flex; align-items:center;">
                            <button class="btn btn-outline-warning" id="cancel-button">Cancel order</button>
                            <button class="btn btn-outline-secondary" id="contact-button">Contact</button>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}

        </ul>
    </div>


{% endblock content %} 