{% extends 'store/main.html' %}
{% load static %}
{% block content %}

	{% if recent %}
		<h3>Recently viewed</h3>
		<div class="box-element horizontal-scroll-box">

			<div class="row horizontal-scroll-container">

				{% for product in recent %}
					<div class="col-lg-4 horizontal-scroll-item">
						<a href = "{% url 'product_page' product.slug_str %}">
							<img class="thumbnail" style="object-fit:cover; " src="{{product.imageURL}}">
						</a>
						<div class="box-element product">
							<h6><strong>{{product.name}}</strong></h6>
							<div class="star-rating-div" data-rating="{{product.avg_rating}}" data-n-reviews="{{product.reviews.count}}"></div>
							<hr>

							{% if product.selling_type == "sale" %}
								<button data-product="{{product.id}}" data-action="add" 
								class="btn btn-outline-secondary add-btn update-cart"> Add to Cart </button>
							{% endif %}

							<a class="btn btn-outline-success" href="{% url 'product_page' product.slug_str %}">View</a>
							{% if product.selling_type == "sale" %}
								<h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
							{% else %}
								<h4 style="display: inline-block; float: right"><strong>Bid</strong> ${{product.starting_bid|floatformat:2}}</h4>
							{% endif %}
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	{% endif %}

	<h3>Recommended for you</h3>
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<a href = "{% url 'product_page' product.slug_str %}">
				<img class="thumbnail" style="object-fit:cover;" src="{{product.imageURL}}">
			</a>
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<div class="star-rating-div" data-rating="{{product.avg_rating}}" data-n-reviews="{{product.reviews.count}}"></div>
				<hr>

				{% if product.selling_type == "sale" %}
					<button data-product="{{product.id}}" data-action="add" 
					class="btn btn-outline-secondary add-btn update-cart"> Add to Cart </button>
				{% endif %}

				<a class="btn btn-outline-success" href="{% url 'product_page' product.slug_str %}">View</a>
				{% if product.selling_type == "sale" %}
					<h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
				{% else %}
					<h4 style="display: inline-block; float: right"><strong>Bid</strong> ${{product.starting_bid|floatformat:2}}</h4>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>

	<ul class="pagination justify-content-center" style="margin-top:15px;">
		{% if products.has_previous %}
			<li class="page-item" style="outline:none;"><a class="page-link" href=?page=1>First</a></li>
			<li class="page-item" style="outline:none;"><a class="page-link" href=?page={{ products.previous_page_number }}>Previous</a></li>
		{% else %}
			<li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
			</li>
		{% endif%}

		<li class="page-item">
			<a class="page-link" href="#" tabindex="-1" aria-disabled="true">{{products.number}}</a>
		</li>

		{% if products.has_next %}
			<li class="page-item"><a class="page-link" href=?page={{ products.next_page_number }}>Next</a></li>
		{% else %}
			<li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
			</li>
		{% endif%}
	</ul>


<script src="{% static 'javascript/jquery.js' %}"></script>
<script>

	// Draw star rating on each product card
	const maxRating = 5;
	$(".star-rating-div").each(function() {
		console.log($(this));
		var rating = $(this).data("rating");
		var i;
		for (i = 0; i < Math.floor(rating); i++)
			$(this).append('<i class="bi-star-fill"></i>');
		if (rating - i >= 0.5) {
			$(this).append('<i class="bi-star-half"></i>');
			i++;
		}
		for (; i < maxRating; i++)
			$(this).append('<i class="bi-star"></i>');
		
		if ($(this).data("n-reviews") == 0)
			$(this).append(" No reviews yet");
		else if ($(this).data("n-reviews") == 1)
			$(this).append(" from 1 review");
		else
			$(this).append(" from " + $(this).data("n-reviews") + " reviews");
	});

</script>

{% endblock content %}
